.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  margin: 0px;
  background: transparent url("MVI_0212.mp4") fixed no-repeat center center;
  background-size: cover;
  opacity: 0.6;
}
html {
  height: 100%;
}
.content {
  padding: 0%;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 7px;
  font-family: Courgette, sans-serif;
  width: 100%;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: Courgette, sans-serif;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Courgette, sans-serif;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
body {
  margin: 0px;
}

.mitzi {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 250px;
  height: 300px;
  border: darkgrey solid 2px;
}
.aboutmitzi {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 25px;
  border: darkgray;
  border-radius: 15px;
}
.aboutzlata {
  border: darkgray;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 25px;
}
.fav {
  border: darkgray;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 25px;
}
.zlata {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 270px;
  height: 300px;
  border: darkgrey solid 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: bisque;
}
.mitzi-style {
  color: black;
  font-size: 110%;
  padding-left: 10px;
  padding-right: 10px;
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: black;
  font-size: 48px;
}

table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 15px;
}
table {
  border-spacing: 5px;
  width: 95%;
  height: 10em;
}
.Btn {
  width: 300px;
  font-size: 15px;
  padding: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Courgette, sans-serif;
}

.Btn:hover {
  background: #ddd;
  color: black;
}
.Btn2 {
  width: 200px;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-family: Courgette, sans-serif;
}
.Btn2:hover {
  background: #ddd;
  color: black;
}
.bg-image {
  background-image: url("header.jpg");
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.masterflex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}
.stripeimage {
  background-image: url("wall4.jpg");
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.stylepar {
  font-family: Courgette, sans-serif;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
p {
  font-family: Courgette, sans-serif;
}
